.git/**
.vscode/**
src/**
scripts/**
example/**
TASK.md
.editorconfig
.gitignore
.DS_Store
eslint.config.mjs
tsconfig.json
package-lock.json
*.vsix
__epub.yml
**/*.ts
**/*.map
node_modules/**/.github/**
node_modules/**/.travis.yml
node_modules/**/.editorconfig
node_modules/**/.eslintrc.*
node_modules/**/.codeclimate.yml
node_modules/**/.jekyll-metadata
node_modules/**/tsconfig.json
node_modules/**/vendor/**
node_modules/**/graph.svg
node_modules/**/sponsors.md
